textarea::-webkit-scrollbar{
	width: 12px;
}
textarea::-webkit-scrollbar-track{
	background-color: #555555aa;
}
textarea::-webkit-scrollbar-thumb{
	background-color: #222;
}

.app{
	width: 100%;
	height: 100%;
}

.side-menu{
	position: fixed;
	left: 0;
	z-index: 1;
	height: 97%;
	width: 50px;
	font-size: 30px;
}
.side-menu .box{
	margin-top: -8px;
}
.side-menu .box *{
	margin-top: 10px;
	cursor: pointer;
	text-align: center;
}
.open-config{
	position: fixed;
	margin-left: 9px;
	bottom: 40px;
}

.footer{
	width: 100%;
	height: 25px;
	z-index: 2;
	position: fixed;
	background-color: purple;
	bottom: 0;
}
.footer .content{
	margin-top: -14px;
	color: #fff;
	display: flex;
}
.footer .content *{
	margin-left: 10px;
}
.footer-label{
	margin-top: 17px;
	font-size: 17px;
	width: 35px;
	height: 17px;
	background-color: #ffffff00;
	color: #fff;
	border-style: none;
}
.separator{
	margin-top: 15px;
}
.content .contain *{
	margin-left: 0px;
}

.debug-window{
	position: fixed;
	width: 100%;
	height: 96.5%;
	display: flex;
}
.debug-output{
	position: fixed;
	right: 0;
	z-index: 1;
	width: 48%;
	height: 99.7%;
	background-color: #fff;
	color: #000;
	overflow: auto;
}
.inputs{
	margin-left: 50px;
	width: 85.7%;
	height: 99.1%;
}
.debug-input{
	width: 100.5%;
	height: 100%;
	text-align: left;
	resize: none;
	font-family: 'Barlow', sans-serif;
	overflow: auto;
	border-style: none;
}
.command{
	z-index: 2;
	color: orange;
	position: fixed;
	right: 10px;
	bottom: 40px;
	text-align: center;
	padding: 3px;
	border-radius: 5px;
	width: 100px;
	height: 100px;
	box-shadow: 0 0 4px #222;
}
.libs-window{
	position: fixed;
	left: 50px;
	z-index: 2;
	width: 30%;
	height: 96.4%;
	color: #fff;
}
.libs-window *{
	padding: 5px;
	margin-top: 5px;
	margin-left: 5px;
}
.libs-window input{
	width: 95%;
	height: 20px;
	border-style: solid;
	border-width: 1px;
	border-color: #333;
}
.libs-window button{
	width: 80%;
	height: 30px;
	border-style: none;
	margin-left: 8%;
	border-radius: 5px;
	font-size: 20px;
	cursor: pointer;
}

.config-window{
	position: fixed;
	z-index: 2;
	left: 50px;
	width: 90%;
	height: 96.4%;
}
.config-container{
	width: 95.5%;
	height: 93.5%;
	margin-left: 1%;
	margin-top: 1%;
	padding-left: 20px;
	padding-top: 20px;
	border-radius: 10px;
}
.config-containet hr{
	width: 90%;
	margin-left: 0px;
}

.archive-window-export{
	position: fixed;
	top: 20px;
	z-index: 1;
	width: 500px;
	height: 60px;
	border-radius: 10px;
	margin-left: 33%;
	box-shadow: 0 0 3px #eee;
}
.archive-window-import{
	position: fixed;
	top: 20px;
	z-index: 1;
	width: 500px;
	height: 200px;
	border-radius: 10px;
	margin-left: 33%;
	box-shadow: 0 0 3px #eee;
}
.archive-window input{
	width: 90%;
	height: 30px;
	margin-top: 14px;
	margin-left: 4.5%;
	border-style: none;
	padding-left: 5px;
	font-size: 20px;
	color: #fff;
	border-radius: 5px;
}

.bottom-btn{
	height: 20px;
	border-style: none;
	margin-top: 16.5px;
	background-color: #111;
	color: #00ff00;
	position: fixed;
	right: 8px;
}

.side-map{
	position: fixed;
	right: 0;
	height: 95.8%;
	width: 9.5%;
	font-size: 5px;
	padding-right: -30px;
	border-style: none;
	resize: none;
	font-family: sans-serif;
  cursor: pointer;
}

.opened-archives{
	width: 450px;
	margin-left: auto;
	margin-right: auto;
	height: 130px;
	overflow: auto;
}
.opened-archives::-webkit-scrollbar{
	width: 10px;
}
.opened-archives::-webkit-scrollbar-track{
	background-color: #555555aa;
}
.opened-archives::-webkit-scrollbar-thumb{
	background-color: #111;
	border-style: solid;
	border-color: #ddd;
	border-width: 1px;
}

.opened-archives p{
	cursor: pointer;
}
.line{
	width: 98.5%;
	margin-left: -3%;
}